/* declare variable */
:root {
    --main-bg-color: #F15B22;
}

/* overall css */

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    width: 160px;
    height: 64px;
    background-color: var(--main-bg-color);
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    font-size: 1.1rem;
    line-height: 1rem;
    font-weight: 600;
}

h1 {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #151414;
}

h3 {}

p {
    font-weight: 400;
    font-size: 13px;
}

/* header section */
.banner {
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-position: left 50%;
    width: 100%;
}

.banner .container {
    text-align: end;
    padding: 20vh 20vh 20vh 110vh;

}

/* main section */

/* failure section */
.failure .container {
    padding: 15vh 25vh 15vh 25vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2vh;
}

.failure-picture {
    display: flex;
    justify-content: end;
}

.failure-picture img {
    width: 70%;
}

.failure-details {
    padding-right: 15vh;
}

.failure-detailes-points div {
    display: flex;
    align-items: center;
    gap: 1.2vh;
}


/* plan section */
.plans .container {
    padding: 0 25vh 15vh 25vh;
}

.plans .container h3 {
    margin-bottom: 5vh;
    text-align: center;
}

.palns-plan {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}

.plan div {
    text-align: center;
}


/* mindset section */
.mindset {
    padding: 0 37vh 15vh 37vh;
}

.mindset .container {
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png), url(../images/gradient2.png);
    border-radius: 8px;
    padding: 5vh 80vh 5vh 10vh;
}

.mindset .container h3 {
    font-weight: 700;
    font-size: 25px;

    color: #FFFFFF;
}

.btn-second {
    width: 20vh;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: var(--main-bg-color);
    border: none;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
}

footer .container input[type="email"] {
    padding: 1.5vh;
    border-radius: 1vh;
}

/* footer section */
footer {
    background-color: #151414;
}

footer .container {
    padding: 0 37vh 15vh 37vh;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: center;
    row-gap: 1vh;
}

.footer-details {
    padding-right: 35vh;
}

footer .container h3 {
    padding-top: 5vh;
    color: #F8F8F8;
}

.footer-future-icons img {
    width: 5%;
}

.btn-third {
    width: 20vh;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: var(--main-bg-color);
    border: none;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
    margin-top: 2vh;
}
    



/* ------------------- */


/* media query */
@media only screen and (max-width: 576px) {

    /* header */
    .banner .container {
        text-align: end;
        padding: 20vh 20vh 20vh 110vh;
    }

    .banner {
        background-image: url(../images/banner/banner2.png) center;
        background-position: center 50%;
    }

    .banner .container {
        text-align: end;
        padding: 5vh;

    }

    h1 {
        font-weight: 700;
        font-size: 65px;
        line-height: 76px;
        color: #151414;
    }

    /* main */

    /* failure */
    .failure .container {
        padding: 1vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: 2vh;
    }

    .failure-picture {
        display: flex;
        justify-content: center;
    }

    .failure-details {
        padding: 2vh;
        text-align: center;
    }

    .failure-detailes-points {
        display: grid;
        place-items: center;
    }

    /* plans */
    .plans .container {
        padding: 1vh;
    }

    .palns-plan {
        flex-direction: column;
    }

    /* mindset section */
    .mindset {
        padding: 3vh;
    }

    .mindset .container {
        background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png), url(../images/gradient2.png);
        border-radius: 8px;
        padding: 1vh 7vh 1vh 7vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    /* footer section */
    footer {
        margin-top: 10vh;
    }
    footer .container {
        padding: 3vh;
        color: #FFFFFF;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1vh;
        text-align: center;

    }

    .footer-details {
        padding-right: 0;
    }
    
    .footer-future-icons img {
        width: 10%;
    }

    .hide {
        display: none;
    }

}